<h1> New User </h1>

<%= simple_form_for(@user, :html => {:class => 'form-vertical' }) do |f| %>
	<%= f.input :name %>
	<%= f.input :password %>
	<%= f.input :password_confirmation %>

	<h4>Subscribe</h4>
	<% Newspaper.all.each do |news| %>
		<p class="control-label"><%= news.title %><p>

		<select name="user[subscription_plan_ids][]">
			<option value="">None</option>
			<% news.subscription_plans.each do |sp| %>
			<option value="<%= sp.id %>"><%= sp.weekly ? "Weekly" : "Daily" %></option>
			<% end %>
		</select>
		<br>
	<% end %>
	<br>

		<%= f.submit "Sign up"%>
<% end %>



<!--
<%# SubscriptionPlan.all.each do |sp| %>
	<%#= sp.newspaper.title %> - <%#= sp.weekly ? "Weekly" : "Daily"%>
	- $<%#= sp.price %>
	<%#= check_box_tag(
		"user[subscription_plan_ids][]",
		sp.id
	)%>
	<br>
<%# end %>
-->