<h1>New Newspaper</h1>

<%= simple_form_for(@newspaper, class:"form-vertical") do |f| %>
	<%= f.input :title %>
	<%= f.input :editor %>
	<h4>Subscription Plans</h4>
	<%= f.fields_for(:subscription_plans) do |sp| %>
		<%= sp.label :price %>
		<%= sp.number_field :price, step: 0.01 %>
		<br>

		<%= sp.label :weekly, 'Weekly', :value => 'true',
						style: "display: inline" %>
		<%= sp.radio_button :weekly, true %>
		<%= sp.label :weekly, 'Daily', :value => 'false',
						style: "display: inline" %>
		<%= sp.radio_button :weekly, false %>
		<br>
		<br>
	<% end%>
	<%= f.submit "Create Paper" %>
<% end %>